In [25]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [26]:
df = pd.read_csv('normalized_data.csv')

In [27]:
df

      source    id                                               text
0          0     0  12 year slave analysi film essay 2013 film 12 ...
1          0     1  20+ social media post idea radic simplifi mark...
2          0     2  2022 russian invas ukrain global media coverag...
3          0     3  533 u.s. 27 2001 kyllo v. unit state use therm...
4          0     4  charl schwab corpor case essay charl schwab fo...
...      ...   ...                                                ...
9995       0  9995  workplac stress absente ship-repair industri c...
9996       0  9996  world war nation conflict reason essay world w...
9997       0  9997  xyz compani oper decis present effect market m...
9998       0  9998  yahoo compani histori present establish 1994 j...
9999       0  9999  zimbabw ufo encount 1994 essay differ countri ...

[10000 rows x 3 columns]

In [28]:
vectorizer = CountVectorizer(max_df=0.8, min_df=0.2, ngram_range=(2,3)) # ngram_range=(2,2) would get bigrams only

In [29]:
matrix = vectorizer.fit_transform(df.text)

In [30]:
vectorizer.get_feature_names_out()

array(['et al', 'tabl content'], dtype=object)

In [16]:
def dummy(token):
    return token

In [17]:
vectorizer = CountVectorizer(tokenizer=dummy, preprocessor=dummy, ngram_range=(2,3)) # ngram_range=(2,2) would get bigrams only

In [18]:
matrix = vectorizer.fit_transform(df.text)
vectorizer.get_feature_names_out()

C:\Users\color\Anaconda3\envs\pr_project\lib\site-packages\sklearn\feature_extraction\text.py:521: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

array(["  '", "  ' +", "  ' ,", ..., '~ e s', '~ n', "~ n '"],
      dtype=object)

In [38]:
import nltk
from datasets import load_dataset

In [39]:
dataset = load_dataset('artem9k/ai-text-detection-pile')
dataset

DatasetDict({
    train: Dataset({
        features: ['source', 'id', 'text'],
        num_rows: 1392522
    })
})

In [40]:
df = pd.DataFrame.from_dict(dataset['train'])
df.head()

  source  id                                               text
0  human   0  12 Years a Slave: An Analysis of the Film Essa...
1  human   1  20+ Social Media Post Ideas to Radically Simpl...
2  human   2  2022 Russian Invasion of Ukraine in Global Med...
3  human   3  533 U.S. 27 (2001) Kyllo v. United States: The...
4  human   4  A Charles Schwab Corporation Case Essay\n\nCha...

In [41]:
data = df.iloc[:1000,:]

In [50]:
vectorizer = CountVectorizer(max_df=0.95, min_df=0.05, stop_words=nltk.corpus.stopwords.words("english"), ngram_range=(2,3)) # ngram_range=(2,2) would get bigrams only
# vectorizer = CountVectorizer(max_df=0.8, min_df=0.2, ngram_range=(2,3)) # ngram_range=(2,2) would get bigrams only

matrix = vectorizer.fit_transform(data.text)
vectorizer.get_feature_names_out()

array(['19 pandemic', 'al 2017', 'al 2018', 'al 2019', 'al 2020',
       'al 2021', 'case study', 'conclusion references',
       'conclusion references introduction', 'contents introduction',
       'covid 19', 'covid 19 pandemic', 'decision making', 'essay table',
       'essay table contents', 'et al', 'et al 2017', 'et al 2018',
       'et al 2019', 'et al 2020', 'et al 2021', 'even though',
       'health care', 'high quality', 'international journal',
       'long term', 'many people', 'mental health', 'new york',
       'one hand', 'public health', 'references introduction',
       'research paper', 'table contents', 'table contents introduction',
       'united states', 'work cited', 'works cited'], dtype=object)